sudo: false
dist: trusty

language: go

go: "1.18.3"

install:
  - make deps
  - git clone https://github.com/sstephenson/bats.git --branch v0.4.0 --depth 1 "${HOME}/bats"
  - export "PATH=${PATH}:${HOME}/bats/bin"

jobs:
  include:
    - stage: test
      script:
        - make fmt
        - git diff --exit-code ':(exclude)go.sum'
        - make test
    - stage: build
      script:
        - mkdir -p dist
        - export GOOS="linux"
        - export CGO_ENABLED=0
        - for arch in amd64 386 arm arm64; do GOARCH="$arch" go build && file supercronic | grep 'statically linked' && mv supercronic "dist/supercronic-${GOOS}-${arch}"; done
        - pushd dist
        - ls -lah *
        - file *
        - sha1sum *
        - sha256sum *
        - popd
      deploy:
        provider: releases
        api_key:
          secure: "HlESWt11k5aNvL5iEKA5dFzbgJ0O+l8te6j2MtZO5bWPPzsH89uXbDCrnUB7QrGu2GM7YsIhHZs2P/EL3vKSPSovKe2wqciYTOxK/AcU7PEoOdwwzak1mB+UzVs+vO2NFGYO5E3mibF52tDl+lq3ihhTRY7fzXW57FMd56TI8ShLIusScseKEdPDb4yPWOuvK2YpiAgHUuEbBfQ8ZEyXuxJHX3vJdqWtVQDaqfSETpKsjd1do9pWNUo3HTBLs/4j+DQf3u9ZqKB6FAGGjIcy9q1DdIbbfVQexFqeXdJdpYOCaG/K31wecLjWwIdPZCWgwhWHgeWBPk281CDIIOwG9M3Tvnj00NROh+B2T2DfVCE7w7Yru5cMSkzfjSeWlMzguFD6CLcXWx3Pp4izOJNHDYNsc71IMcPp1/jiqg9ApGyII6cpuJt5fTE+d1BHDfN9AUDEE3jhP63EEFn8NtckfDwlZzvkeZOmFA1pY3kzASFbBhrc81YuCM7hlJnLBR/km+82z67u05B6bTphLqhc8GSY9PkzYyCZJ2qY0EJQHSifxhQ3BTcuHtVzrnkD0294YEXH3jvu8EOnwei7IQ0r5y030pOBlUisT0ZuEW27qtS4JvCGckueeEcA/JH05Y5FNgu0DqrHEJfjBVE1WjSmNx7rOnhcCZ3Xc5qMKQ+VAm4="
        file: "dist/*"
        file_glob: true
        skip_cleanup: true
        on:
          tags: true
