name: release

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: install golang
      uses: actions/setup-go@v5
      with:
        go-version: 1.23.1

    - name: checkout code
      uses: actions/checkout@v4

    - name: build assets
      run: make release VERSION=${{ github.event.release.tag_name }}

    - name: gh login
      run:  echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token

    - name: upload assets to release
      run: gh release upload ${{ github.event.release.tag_name }} dist/*
