name: tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [1.25.2]

    steps:
    - name: install golang
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: install bats
      run: |
        git clone https://github.com/bats-core/bats-core.git --branch v1.11.0 --depth 1 "${HOME}/bats"
        echo "${HOME}/bats/bin" >> $GITHUB_PATH

    - name: install govulncheck
      run: |
        go install golang.org/x/vuln/cmd/govulncheck@latest

    - name: checkout code
      uses: actions/checkout@v4

    - name: run tests
      run: make test

    - name: run vuln check
      run: make vulncheck
